<main class="content">
  <div class="row mb-3">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h1 class="m-0">Meus Clientes</h1>
    <button class="btn btn-primary" (click)="criarCliente()">Cadastrar</button>
  </div>
</div>

  <form [formGroup]="formFiltro" (ngSubmit)="obterClientes()" class="filter-form container-fluid">

    <!-- Filtros principais -->
    <div class="row g-4 mb-3">
      <div class="col-md-4">
        <label for="nome" class="form-label">Nome</label>
        <input id="nome" type="text" formControlName="nome" class="form-control" placeholder="Buscar por nome" />
      </div>

      <div class="col-md-4">
        <label for="documento" class="form-label">CPF/CNPJ</label>
        <input id="documento" type="text" formControlName="documento" class="form-control"
          placeholder="Buscar por documento" />
      </div>

      <!-- Botões -->
      <div class="col-md-4 d-flex justify-content-between align-items-end">
        <div class="d-flex gap-2" style="align-items: end;">
          <button type="submit" class="btn btn-primary" style="height: 50%;">
            <i class="fas fa-search"></i>
          </button>

          <button type="button" class="btn btn-outline-danger" style="height: 50%;" (click)="limparFiltros()">
            <i class="fas fa-eraser"></i>
          </button>

          <button type="button" class="btn" [ngClass]="mostrarAvancado ? 'btn-secondary' : 'btn-outline-secondary'"
            style="height: 50%;" (click)="mostrarAvancado = !mostrarAvancado">
            <i class="fas fa-filter"></i>Avançado
          </button>
        </div>

      </div>
    </div>

    <!-- Filtros avançados -->
    <div *ngIf="mostrarAvancado" class="row g-4 mb-4">
      <div class="col-md-4">
        <label for="profissao" class="form-label">Profissão</label>
        <input id="profissao" type="text" formControlName="profissao" class="form-control" />
      </div>

      <div class="col-md-4">
        <label for="classeProcesso" class="form-label">Classe do Processo</label>
        <select id="classeProcesso" formControlName="classeProcessoId" class="form-select">
          <option [ngValue]="null">Todas</option>
          <option *ngFor="let item of listaClasseProcesso" [ngValue]="item.id">
            {{ item.nome }}
          </option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="estado" class="form-label">Estado</label>
        <input id="estado" type="text" formControlName="estado" class="form-control" />
      </div>

      <div class="col-md-2">
        <label for="cidade" class="form-label">Cidade</label>
        <input id="cidade" type="text" formControlName="cidade" class="form-control" />
      </div>
    </div>
  </form>



  <div class="lista-clientes">
    <div class="cliente-card" *ngFor="let cliente of clientes">
      <div (click)="irParCliente(cliente)" class="cliente-info">
        <h2>{{ cliente.nome }}</h2>
        <p>{{ cliente.documento }}</p>
        <p>{{ cliente.email }}</p>
        <p>{{ cliente.telefone }}</p>
        <div class="card-footer">
          <div class="status">
            <span class="badge">{{ cliente.numeroProcessos }} processo(s)</span>
            <span class="tag" [ngClass]="statusClass(cliente.status)">
              {{ cliente.status }}
            </span>
          </div>
          <button class="btn-detalhes">Detalhes</button>
        </div>

      </div>
    </div>
  </div>
</main>