* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

.explorar {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}
span{
  margin-right: 10px;
  font-size: 20px;
  color: rgb(114, 123, 131);
}
.row{
  align-items: center;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  grid-column: span 1;
  height: 140px;
  display: flex; /* Ativa o Flexbox */
  flex-direction: column; /* Organiza os itens em coluna */
  justify-content: center; /* Centraliza verticalmente */
}

.card.disabled{
  background: #E0E3E7;
}

small{
  font-size: 10px;
}
