<div class="explorar">
  <div class="card">
    <div class="row">
      <span class="material-icons">video_camera_front</span>
      <h3>Teleconsulta</h3>
    </div>
    <p>Crie salar virtuais próprias para atender os seus clientes online</p>
  </div>
  <div class="card">
    <div class="row">
      <span class="material-icons">blur_on</span>
      <h3>Assistente IA</h3>
    </div>
    <p>Consulte suas dúvidas juridicas e processuais a uma AI especialista</p>
  </div>
  <div class="card disabled">
    <div class="row">
      <span class="material-icons">balance</span>
      <h3>Elaborar documento</h3>
    </div>
    <p>Crie peças, contratos, requerimentos e oficios a partir de um modelo.</p>
  </div>
  <div class="card disabled">
    <div class="row">
      <span class="material-icons-round">currency_exchange</span>
      <h3>Atualizar Valores</h3>
    </div>
    <p>Faça atualizações monetárias junto ao sistema Debit*</p>
    <small>(*Até 5.00 cálculos por mÊs)</small>
  </div>
  <div class="card disabled">
    <div class="row">
      <span class="material-icons-round">hourglass_bottom</span>
      <h3>Em breve...</h3>
    </div>
    <p>Estamos continuamente melhorando a plataforma para você, por isso, aguarde por mais utilidades no sistema</p>
  </div>
</div>
