<div class="container">
  <div class="left">
    <img src="AdvTasker.png" alt="Logo" class="logo" />
    <h1>Vamos começar a trabalhar juntos</h1>
    <form [formGroup]="escritorioForm">
      <div class="input-group">
        <label for="fim">Qual é o nome do seu escritório</label>
        <input formControlName="nome" type="text" placeholder="Nome do escritório">
      </div>
      <div class="input-group">
        <label for="fim">CNPJ (Opcional)</label>
        <input formControlName="cnpj" type="text" placeholder="CNPJ do escritório">
      </div>
      <div class="endereco">
        <div class="input-group estado">
          <label for="fim">Estado</label>
          <select formControlName="estado" [(ngModel)]="siglaSelecionada" (change)="onSiglaChange()">
            <option value="">Selecione um estado</option>
            <option *ngFor="let sigla of siglas" [value]="sigla">{{ sigla }}</option>
          </select>
        </div>
        <div class="input-group cidade">
          <label for="fim">Cidade</label>
          <select formControlName="cidade" [disabled]="!cidades.length">
            <option value="">Selecione uma cidade</option>
            <option *ngFor="let cidade of cidades">{{ cidade }}</option>
          </select>
        </div>
      </div>
      <div class="dias-atendimento">
        <label>Quais dias você atende?</label>
        <div class="dias-opcoes">
          <button *ngFor="let dia of diasSemana" [class.selected]="diasSelecionados.includes(dia.value)"
            (click)="toggleDia(dia.value)" type="button">
            {{ dia.label }}
          </button>
        </div>
      </div>
      <br>
      <button class="btn selected" (click)="proximoPasso()">Próximo</button>
    </form>
  </div>

  <div class="right">
    <h2>Bem-vindo a AdvTasker! 🚀</h2>
    <p>
      Parabéns! Agora você faz parte da comunidade AdvTasker. Desfrute de recursos
      exclusivos e uma experiência incrível.
    </p>
    <img src="welcome.svg" alt="Welcome" class="illustration" />
  </div>
</div>