<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="profile">
    <img src="https://storage.googleapis.com/flutterflow-io-6f20.appspot.com/projects/adv-tasker-jvt43m/assets/0utyr2dx17lm/AdvTasker__3_-removebg-preview.png" alt="Logo">
    <button class="toggle-sidebar" (click)="toggleSidebar()">
      <span class="material-icons">menu</span>
    </button>
  </div>
  <nav class="menu">
    <p *ngIf="!isCollapsed" class="small" >Escritório</p>
    <ul>
      <hr *ngIf="isCollapsed" class="menu-divider">
      <li [ngClass]="{ 'active-link': router.url.endsWith('/home') }">
        <a [routerLink]="'/home'">
          <span class="material-icons">dashboard</span>
          <p *ngIf="!isCollapsed">Dashboard</p>
        </a>
      </li>
      <li [ngClass]="{ 'active-link': router.url.endsWith('/agenda') }">
        <a [routerLink]="'/agenda'">
          <span class="material-icons">calendar_today</span>
          <p *ngIf="!isCollapsed">Agenda</p>
        </a>
      </li>
      <li>
        <a [routerLink]="'/prazos'">
          <span class="material-icons">event</span>
          <p *ngIf="!isCollapsed">Prazos</p>
        </a>
      </li>
      <li>
        <a [routerLink]="'/tarefas'">
          <span class="material-icons">assignment</span>
          <p *ngIf="!isCollapsed">Tarefas</p>
        </a>
      </li>
      <li>
        <a [routerLink]="'/clientes'">
          <span class="material-icons">people</span>
          <p *ngIf="!isCollapsed">Clientes</p>
        </a>
      </li>
      <li>
        <a [routerLink]="'/processos'">
          <span class="material-icons">description</span>
          <p *ngIf="!isCollapsed">Processos</p>
        </a>
      </li>
      <li>
        <a [routerLink]="'/relatorios'">
          <span class="material-icons">assessment</span>
          <p *ngIf="!isCollapsed">Relatórios</p>
        </a>
      </li>
      <hr *ngIf="isCollapsed" class="menu-divider">
      <p *ngIf="!isCollapsed" class="small">Utilitários</p>
      <li>
        <a [routerLink]="'/notificacoes'">
          <span class="material-icons">notifications</span>
          <p *ngIf="!isCollapsed">Notificações</p>
        </a>
      </li>
      <li>
        <a [routerLink]="'/explore'">
          <span class="material-icons">explore</span>
          <p *ngIf="!isCollapsed">Explore</p>
        </a>
      </li>
      <li>
        <a [routerLink]="'/sair'">
          <span class="material-icons">exit_to_app</span>
          <p *ngIf="!isCollapsed">Sair</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
