<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="profile">
    <img src="https://storage.googleapis.com/flutterflow-io-6f20.appspot.com/projects/adv-tasker-jvt43m/assets/0utyr2dx17lm/AdvTasker__3_-removebg-preview.png" alt="Logo">
    <button class="toggle-sidebar" (click)="toggleSidebar()">
      <span class="material-icons">menu</span>
    </button>
  </div>
  <nav class="menu">
    @if (!isCollapsed) {
      <p class="small">Escritório</p>
    }
    <ul>
      @if (isCollapsed) {
        <hr class="menu-divider">
      }
      <li [ngClass]="{ 'active-link': router.url.endsWith('/home') }">
        <a [routerLink]="'/home'">
          <span class="material-icons">dashboard</span>
          @if (!isCollapsed) {
            <p>Painel</p>
          }
        </a>
      </li>
      <li [ngClass]="{ 'active-link': router.url.includes('/agenda') }">
        <a [routerLink]="'/agenda'">
          <span class="material-icons">calendar_today</span>
          @if (!isCollapsed) {
            <p>Agenda</p>
          }
        </a>
      </li>
      <li class="dropdown" [ngClass]="{ 'active-link': (router.url.includes('/prazos') || router.url === '/intimacao') }">
        <a (click)="clickedMenu($event)" id="prazos">
          <span class="material-icons">event</span>
          @if (!isCollapsed) {
            <p>Prazos</p>
          }
          @if (!drop('prazos')) {
            <span class="material-icons-round dropdown-arrow">keyboard_arrow_right</span>
          }
          @if (drop('prazos')) {
            <span class="material-icons-round dropdown-arrow">keyboard_arrow_down</span>
          }
        </a>
        @if (drop('prazos')) {
          <ul class="submenu">
            <li><a routerLink="/prazos">Ver Prazos</a></li>
            <li><a routerLink="/prazos/gerenciar">Gerenciar Prazos</a></li>
            <li><a routerLink="/intimacao">Intimações</a></li>
          </ul>
        }
      </li>
      <li class="dropdown" [ngClass]="{ 'active-link': (router.url.includes('/tarefas')) }">
        <a (click)="clickedMenu($event)" id="tarefas">
          <span class="material-icons">assignment</span>
          @if (!isCollapsed) {
            <p>Tarefas</p>
          }
          @if (!drop('tarefas')) {
            <span class="material-icons-round dropdown-arrow">keyboard_arrow_right</span>
          }
          @if (drop('tarefas')) {
            <span class="material-icons-round dropdown-arrow">keyboard_arrow_down</span>
          }
        </a>
        @if (drop('tarefas')) {
          <ul class="submenu">
            <li><a routerLink="/tarefas">Minhas Tarefas</a></li>
            <li><a routerLink="/tarefas/gerenciar">Gerenciar Tarefas</a></li>
          </ul>
        }
      </li>
      <li [ngClass]="{ 'active-link': router.url.includes('/clientes') }">
        <a [routerLink]="'/clientes'">
          <span class="material-icons">people</span>
          @if (!isCollapsed) {
            <p>Clientes</p>
          }
        </a>
      </li>
      <li [ngClass]="{ 'active-link': router.url.includes('/processos') }">
        <a [routerLink]="'/processos'">
          <span class="material-icons">description</span>
          @if (!isCollapsed) {
            <p>Processos</p>
          }
        </a>
      </li>
      <li [ngClass]="{ 'active-link': router.url.includes('/relatorios') }">
        <a [routerLink]="'/relatorios'">
          <span class="material-icons">assessment</span>
          @if (!isCollapsed) {
            <p>Relatórios</p>
          }
        </a>
      </li>
      @if (isCollapsed) {
        <hr class="menu-divider">
      }
      @if (!isCollapsed) {
        <p class="small">Utilitários</p>
      }
      <li [ngClass]="{ 'active-link': router.url.includes('/notificacoes') }">
        <a class="notificacoes" [routerLink]="'/notificacoes'">
          <div style="display: flex;">          <span class="material-icons">notifications</span>
          @if (!isCollapsed) {
            <p>Notificações</p>
          }</div>
          @if (!isCollapsed) {
            <span  class="notification-counter">3</span>
          }
        </a>
      </li>
      <li [ngClass]="{ 'active-link': router.url.includes('/explore') }">
        <a [routerLink]="'/explore'">
          <span class="material-icons">explore</span>
          @if (!isCollapsed) {
            <p>Explore</p>
          }
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <span class="material-icons">exit_to_app</span>
          @if (!isCollapsed) {
            <p>Sair</p>
          }
        </a>
      </li>
    </ul>
  </nav>
</div>
