
  <div class="content">
    <div class="welcome-message">
      <h1>Bem-Vindo ao AdvTasker</h1>
      <div class="midia">
        <img src="team.svg" alt="AdvTasker Logo" class="logo">
        <div class="features-list">
          <div class="feature-item">
            <mat-icon>check_circle</mat-icon>
            <span>Gestão completa de casos</span>
          </div>
          <div class="feature-item">
            <mat-icon>check_circle</mat-icon>
            <span>Controle de prazos processuais</span>
          </div>
          <div class="feature-item">
            <mat-icon>check_circle</mat-icon>
            <span>Colaboração em equipe</span>
          </div>
          
        </div>
      </div>
      
      <p>Sua plataforma completa para gestão de escritórios de advocacia</p>
      <div class="comecar"> <button (click)="comecar()">Começar</button></div>
     
    </div>
  </div>
