
<body>
  <div class="login-container">
    <div class="login-header">
      <h1>Bem-vindo de volta</h1>
      <p>Faça login para acessar sua conta.</p>
    </div>
    <form [formGroup]="loginForm" class="login-form">
      <div class="input-group">
        <label for="nome">Nome</label>
        <input formControlName="nome" type="text" id="nome" placeholder="Digite seu nome" required>
      </div>
      <div class="input-group">
        <label for="email">E-mail</label>
        <input formControlName="email" type="email" id="email" placeholder="Digite seu e-mail" required>
        <!-- Mensagem de erro para o campo de e-mail -->
        <div style="color: #ff4d4d; font-size: 12px; margin-top: 5px;">
          <span *ngIf="usuarioVazio">E-mail é obrigatório.</span>
        </div>
      </div>
      <div class="input-group">
      <select id="cargo" formControlName="cargo">
        <option value="" disabled selected>Selecione um cargo</option>
        <option *ngFor="let cargo of cargos" [ngValue]="cargo.value">{{ cargo.label }}</option>
      </select>
    </div>
      <div class="input-group">
        <label for="senha">Senha</label>
        <input formControlName="senha" type="password" id="senha" placeholder="Digite sua senha" required>
        <!-- Mensagem de erro para o campo de senha -->
        <div style="color: #ff4d4d; font-size: 12px; margin-top: 5px;">
          <span *ngIf="senhaVazia">Senha é obrigatória.</span>
          <span *ngIf="senhaIncorreta">Usuário ou Senha Inválidos</span>
        </div>
      </div>
      <button type="submit" class="login-button" (click)="onSubmit($event)">Entrar</button>
      <div class="divider">
        <span>ou</span>
      </div>
      <button type="button" class="google-button">
        <span class="material-icons">&#xE853;</span> <!-- Ícone do Google -->
        Acessar com Google
      </button>
    </form>
    <div class="login-footer">
      <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
      <p><a href="#">Esqueceu a senha?</a></p>
    </div>
  </div>
</body>
