/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import 'material-icons/iconfont/material-icons.css';

body {
  font-family: 'Poppins', sans-serif;
}

p{
  font-size: 12px;
  margin: 0;
}

h1{
  font-size: 16px;
  margin: 0;
}

h2{
  font-size: 14px;
  margin: 0;
}

.row{
  display: flex;
}
