/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import 'material-icons/iconfont/material-icons.css';

body {
  font-family: 'Poppins', sans-serif;
}

p{
  font-size: 12px;
  margin: 0;
}

h1{
  font-size: 16px;
  margin: 0;
}

h2{
  font-size: 14px;
  margin: 0;
}

h3{
  font-weight: 500;
}
.row{
  display: flex;
}

select{
  width: 100%;
  padding: 2px 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Poppins', sans-serif;
}
